flows_gbth.json
[{"id":"6a1b8a8e.7767a4","type":"tab","label":"Start","disabled":false,"info":""},{"id":"38667d18.d7fd52","type":"tab","label":"Ping","disabled":false,"info":""},{"id":"e0a8bdd.f69eb4","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"baae2447.c51a88","type":"tab","label":"Dashboard UI","disabled":false,"info":""},{"id":"4bcded9c.a85e54","type":"tab","label":"http-server","disabled":false,"info":""},{"id":"ec2fb320.6738e","type":"tab","label":"Mosca MQTT","disabled":false,"info":""},{"id":"94cb800e.0d5b5","type":"tab","label":"OwnTracks","disabled":false,"info":""},{"id":"f9f2f75c.253f78","type":"tab","label":"MongoDB","disabled":false,"info":""},{"id":"b7d747b9.8c7ed8","type":"tab","label":"DRL","disabled":false,"info":""},{"id":"aaf1602c.752fc","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"744775c0.6b3adc","type":"telegram bot","z":"","botname":"RohRohBot","usernames":"","chatids":"","baseapiurl":"","pollinterval":"300"},{"id":"231a53af.12bc0c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"a228ba9c.1c8c38","type":"ui_group","z":"","name":"Ping","tab":"9208993d.960da8","order":5,"disp":true,"width":"6","collapse":false},{"id":"3dd28824.fe4288","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"98b6a300.a262c","type":"redis-config","z":"","host":"localhost","port":"6379","dbase":"0","pass":""},{"id":"26e87c71.cb2844","type":"mqtt-broker","z":"","name":"external broker","broker":"localhost","port":"1341","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"73706faa.f68bf","type":"ui_group","z":"","name":"Telegram","tab":"231a53af.12bc0c","order":2,"disp":true,"width":"6","collapse":false},{"id":"20bf3613.15895a","type":"ui_group","z":"","name":"Web","tab":"652c930f.47d8fc","order":3,"disp":true,"width":"6","collapse":false},{"id":"65a67c.45087984","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"db","name":"localhost"},{"id":"d65ba15c.9770f","type":"ui_group","z":"","name":"Tracks","tab":"9208993d.960da8","order":4,"disp":true,"width":"6","collapse":false},{"id":"a8ab3ed9.7cd89","type":"ui_group","z":"","name":"DRL","tab":"231a53af.12bc0c","order":1,"disp":true,"width":"6","collapse":false},{"id":"9208993d.960da8","type":"ui_tab","z":"","name":"Ping","icon":"dashboard","order":2},{"id":"652c930f.47d8fc","type":"ui_tab","z":"","name":"Web","icon":"dashboard"},{"id":"9bb57e66.6649","type":"ping","z":"38667d18.d7fd52","name":"Haunted host - DR","host":"10.0.0.14","timer":"10","x":110,"y":200,"wires":[["4cb1baf0.540a24"]]},{"id":"4cb1baf0.540a24","type":"function","z":"38667d18.d7fd52","name":"Process Ping","func":"var ping_status = flow.get(msg.topic);\nmsg.ping_topic = 'ping-'+msg.topic;\nvar pingable = flow.get(msg.ping_topic);\nif(pingable == undefined){\n    pingable = true;\n}\n\nif(!pingable){\n    msg.payload = msg.ping_topic + \" \" + pingable;\n    return msg;\n}\n//node.log(msg.topic + \" \" + ping_status);\nvar data = {};\nif(!msg.payload && ping_status != \"OFFLINE\"){\n    msg.payload = msg.topic + \" OFFLINE\";\n    flow.set(msg.topic, \"OFFLINE\");\n    msg.ping_status = \"OFFLINE\";\n    msg.topic = \"ping/\" + msg.topic;\n}\nelse if(msg.payload > 0 && ping_status != \"ONLINE\"){\n    msg.payload = msg.topic + \" ONLINE\";\n    flow.set(msg.topic, \"ONLINE\");\n    msg.topic = \"ping/\" + msg.topic;\n    msg.ping_status = \"ONLINE\";\n}\n\n\n\nreturn msg","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["39bc7623.dc199a"]]},{"id":"211d627f.a2a0de","type":"debug","z":"38667d18.d7fd52","name":"Ping Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":200,"wires":[]},{"id":"39bc7623.dc199a","type":"switch","z":"38667d18.d7fd52","name":"Send updates","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"ping","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":260,"wires":[["d92c8930.884b18","211d627f.a2a0de","32bcede9.378c02"],[]]},{"id":"d92c8930.884b18","type":"mqtt out","z":"38667d18.d7fd52","name":"","topic":"","qos":"","retain":"","broker":"aaf1602c.752fc","x":670,"y":260,"wires":[]},{"id":"f9aba37f.24b99","type":"ping","z":"38667d18.d7fd52","name":"TV Box","host":"10.0.0.6","timer":"30","x":70,"y":300,"wires":[["4cb1baf0.540a24"]]},{"id":"b2f6c0c5.d09f1","type":"ping","z":"38667d18.d7fd52","name":"Microhouse","host":"10.0.0.2","timer":"10","x":90,"y":340,"wires":[["4cb1baf0.540a24"]]},{"id":"a4f40ffd.304a6","type":"ping","z":"38667d18.d7fd52","name":"rohpi","host":"10.0.0.5","timer":"60","x":70,"y":400,"wires":[[]]},{"id":"7f27e89d.a90698","type":"telegram sender","z":"e0a8bdd.f69eb4","name":"","bot":"744775c0.6b3adc","x":470,"y":60,"wires":[["64f40432.d1904c"]]},{"id":"bdfa7593.568e58","type":"telegram receiver","z":"e0a8bdd.f69eb4","name":"","bot":"744775c0.6b3adc","saveDataDir":"","x":110,"y":180,"wires":[["bcfe8905.1c58e8","56526c82.76ca24","ef6f6ffd.2696a"],[]]},{"id":"bcfe8905.1c58e8","type":"debug","z":"e0a8bdd.f69eb4","name":"Telegram In","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":360,"y":180,"wires":[]},{"id":"bad68f85.b0e34","type":"function","z":"e0a8bdd.f69eb4","name":"Set Telegram headers","func":"var data = {};\ndata.chatId = 700442415;\ndata.content = msg.payload;\ndata.type = \"message\";\n\nmsg.payload = data;\n// msg.payload.content = \"hello\";\n// msg.payload.chatId = 700442415;\n// msg.payload.type = \"message\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":60,"wires":[["7f27e89d.a90698"]]},{"id":"64f40432.d1904c","type":"debug","z":"e0a8bdd.f69eb4","name":"Telegram Out Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":60,"wires":[]},{"id":"7e0f9ee0.93fcb","type":"link in","z":"e0a8bdd.f69eb4","name":"Telegram-send-out","links":["e542daf.467ae28","32bcede9.378c02","c65b32b8.8c0c3"],"x":55,"y":60,"wires":[["bad68f85.b0e34"]]},{"id":"56526c82.76ca24","type":"link out","z":"e0a8bdd.f69eb4","name":"Telegram-recv-in","links":["34779ae3.105e46"],"x":320,"y":280,"wires":[]},{"id":"32bcede9.378c02","type":"link out","z":"38667d18.d7fd52","name":"","links":["7e0f9ee0.93fcb"],"x":635,"y":320,"wires":[]},{"id":"6a807cca.c62484","type":"ping","z":"38667d18.d7fd52","name":"roh-laptop","host":"10.0.0.10","timer":"1","x":80,"y":460,"wires":[["dda64f98.e972d","4cb1baf0.540a24"]]},{"id":"10c088a8.de7a87","type":"mqtt in","z":"e0a8bdd.f69eb4","name":"","topic":"telegram/out","qos":"2","broker":"aaf1602c.752fc","x":90,"y":120,"wires":[["bad68f85.b0e34"]]},{"id":"45385ed7.4066c","type":"mqtt out","z":"e0a8bdd.f69eb4","name":"","topic":"telegram/in","qos":"","retain":"","broker":"aaf1602c.752fc","x":710,"y":220,"wires":[]},{"id":"b0fd9dcd.853dc","type":"debug","z":"38667d18.d7fd52","name":"Ping Other","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":460,"y":340,"wires":[]},{"id":"195428e0.d3d677","type":"mqtt out","z":"baae2447.c51a88","name":"","topic":"","qos":"","retain":"","broker":"aaf1602c.752fc","x":450,"y":100,"wires":[]},{"id":"273991d7.c7c52e","type":"ping","z":"38667d18.d7fd52","name":"Mereka-Pi","host":"10.0.0.4","timer":"300","x":90,"y":520,"wires":[[]]},{"id":"4601703b.0b69b","type":"http in","z":"4bcded9c.a85e54","name":"hello","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":120,"y":120,"wires":[["db768d4e.6ed2b"]]},{"id":"c4db4453.70b6c8","type":"template","z":"4bcded9c.a85e54","name":"Hello World","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World</h1>\n        <p>Hits: {{payload}}</p>\n    </body>\n</html>","output":"str","x":330,"y":140,"wires":[["5c7f521a.57749c"]]},{"id":"5c7f521a.57749c","type":"http response","z":"4bcded9c.a85e54","name":"","statusCode":"","headers":{},"x":480,"y":140,"wires":[]},{"id":"c1dd7846.0d33b8","type":"debug","z":"4bcded9c.a85e54","name":"Node hits","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450,"y":240,"wires":[]},{"id":"67e95bfa.cf3cb4","type":"http in","z":"4bcded9c.a85e54","name":"","url":"/hello-file","method":"get","upload":false,"swaggerDoc":"","x":150,"y":340,"wires":[["cbd2b4ff.65c1b8"]]},{"id":"cbd2b4ff.65c1b8","type":"file in","z":"4bcded9c.a85e54","name":"","filename":"/tmp/node-red.png","format":"","x":330,"y":340,"wires":[["a20e949b.b52ff8"]]},{"id":"a20e949b.b52ff8","type":"change","z":"4bcded9c.a85e54","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":340,"wires":[["99ac9cf9.387ad"]]},{"id":"99ac9cf9.387ad","type":"http response","z":"4bcded9c.a85e54","name":"","x":650,"y":340,"wires":[]},{"id":"bab2ff87.2cf5b","type":"mqtt out","z":"4bcded9c.a85e54","name":"","topic":"","qos":"","retain":"","broker":"aaf1602c.752fc","x":690,"y":260,"wires":[]},{"id":"3d1a4494.02f1ec","type":"redis-command","z":"4bcded9c.a85e54","server":"98b6a300.a262c","command":"incr","name":"INCR counter","topic":"","x":220,"y":260,"wires":[["c1dd7846.0d33b8","c4db4453.70b6c8","3306bdf7.a346f2"]]},{"id":"db768d4e.6ed2b","type":"change","z":"4bcded9c.a85e54","name":"Set Redis Cmd","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"node:hits\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":200,"wires":[["3d1a4494.02f1ec"]]},{"id":"da422177.408d1","type":"function","z":"4bcded9c.a85e54","name":"Telegram Hit Counter","func":"msg.payload = \"Hello hits: \" + msg.payload;\nmsg.topic = \"telegram/out\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["bab2ff87.2cf5b"]]},{"id":"216b5cb3.a8acd4","type":"mqtt in","z":"6a1b8a8e.7767a4","name":"","topic":"test","qos":"2","broker":"aaf1602c.752fc","x":150,"y":120,"wires":[["3aa7250b.169b8a","c65b32b8.8c0c3"]]},{"id":"3aa7250b.169b8a","type":"debug","z":"6a1b8a8e.7767a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":120,"wires":[]},{"id":"c65b32b8.8c0c3","type":"link out","z":"6a1b8a8e.7767a4","name":"","links":["7e0f9ee0.93fcb"],"x":370,"y":80,"wires":[]},{"id":"203dfb91.7b9f04","type":"mqtt in","z":"baae2447.c51a88","name":"","topic":"node/hits","qos":"2","broker":"aaf1602c.752fc","x":100,"y":300,"wires":[["bb86da30.b951f8"]]},{"id":"3306bdf7.a346f2","type":"mqtt out","z":"4bcded9c.a85e54","name":"","topic":"node/hits","qos":"","retain":"","broker":"aaf1602c.752fc","x":470,"y":200,"wires":[]},{"id":"bb86da30.b951f8","type":"ui_text","z":"baae2447.c51a88","group":"20bf3613.15895a","order":0,"width":0,"height":0,"name":"Node Hits","label":"Node Hits","format":"{{msg.payload}}","layout":"row-left","x":310,"y":300,"wires":[]},{"id":"c0230ae9.dffbf8","type":"mqtt in","z":"baae2447.c51a88","name":"","topic":"ping/#","qos":"2","broker":"aaf1602c.752fc","x":90,"y":360,"wires":[["bf17a421.7c3e58"]]},{"id":"f1d572ef.789aa","type":"inject","z":"38667d18.d7fd52","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":460,"y":40,"wires":[["3a0e16f8.f525ea"]]},{"id":"3a0e16f8.f525ea","type":"debug","z":"38667d18.d7fd52","name":"","active":true,"console":"false","complete":"false","x":730,"y":40,"wires":[]},{"id":"23310fd4.b11e4","type":"ping","z":"38667d18.d7fd52","name":"Haunted host - UR","host":"10.0.0.12","timer":"10","x":110,"y":160,"wires":[["4cb1baf0.540a24"]]},{"id":"5b098ad7.5c3c54","type":"ping","z":"38667d18.d7fd52","name":"Haunted host - UM","host":"10.0.0.13","timer":"10","x":90,"y":240,"wires":[["4cb1baf0.540a24"]]},{"id":"240d84e0.5c93fc","type":"mqtt in","z":"ec2fb320.6738e","name":"","topic":"test","qos":"2","broker":"26e87c71.cb2844","x":200,"y":240,"wires":[["2d2e0c.ebd261f4"]]},{"id":"2d2e0c.ebd261f4","type":"debug","z":"ec2fb320.6738e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":240,"wires":[]},{"id":"b5be1f2b.71b38","type":"inject","z":"4bcded9c.a85e54","name":"get hits","topic":"","payload":"[\"node:hits\"]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":60,"wires":[["594e9374.f8395c"]]},{"id":"594e9374.f8395c","type":"redis-command","z":"4bcded9c.a85e54","server":"98b6a300.a262c","command":"get","name":"","topic":"","x":320,"y":60,"wires":[["3306bdf7.a346f2"]]},{"id":"3f8ff73b.a58358","type":"ui_text","z":"baae2447.c51a88","group":"a228ba9c.1c8c38","order":0,"width":0,"height":0,"name":"","label":"Haunted House","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":420,"wires":[]},{"id":"bf17a421.7c3e58","type":"switch","z":"baae2447.c51a88","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ping/10.0.0.10","vt":"str"},{"t":"eq","v":"ping/10.0.0.13","vt":"str"},{"t":"eq","v":"ping/10.0.0.5","vt":"str"},{"t":"eq","v":"ping/10.0.0.2","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":220,"y":380,"wires":[["551e7fe7.e70ee"],["3f8ff73b.a58358"],["6ebaa8cf.bda938"],["27911b85.6116d4"]]},{"id":"551e7fe7.e70ee","type":"ui_text","z":"baae2447.c51a88","group":"a228ba9c.1c8c38","order":0,"width":0,"height":0,"name":"","label":"roh-laptop","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":380,"wires":[]},{"id":"6ebaa8cf.bda938","type":"ui_text","z":"baae2447.c51a88","group":"a228ba9c.1c8c38","order":0,"width":0,"height":0,"name":"","label":"roh-pi","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":460,"wires":[]},{"id":"27911b85.6116d4","type":"ui_text","z":"baae2447.c51a88","group":"a228ba9c.1c8c38","order":0,"width":0,"height":0,"name":"","label":"Micro House","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":500,"wires":[]},{"id":"34779ae3.105e46","type":"link in","z":"baae2447.c51a88","name":"","links":["56526c82.76ca24"],"x":120,"y":180,"wires":[["256c558b.c88a7a"]]},{"id":"256c558b.c88a7a","type":"function","z":"baae2447.c51a88","name":"get msg text","func":"msg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":180,"wires":[["a94819ed.637218"]]},{"id":"a94819ed.637218","type":"ui_text","z":"baae2447.c51a88","group":"73706faa.f68bf","order":0,"width":0,"height":0,"name":"","label":"Telegram:in","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":180,"wires":[]},{"id":"ad181461.86b2f8","type":"ui_text_input","z":"baae2447.c51a88","name":"","label":"Telegram:out","group":"73706faa.f68bf","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"telegram/out","x":250,"y":60,"wires":[["195428e0.d3d677","403c0ab1.60abc4"]]},{"id":"403c0ab1.60abc4","type":"change","z":"baae2447.c51a88","name":"reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":70,"y":60,"wires":[["ad181461.86b2f8"]]},{"id":"f11c41b0.10532","type":"http request","z":"4bcded9c.a85e54","name":"hello","method":"GET","ret":"txt","url":"https://node.rohbot.cc/hello","tls":"","x":250,"y":400,"wires":[["6baea01e.68d59"]]},{"id":"f5ae240a.c55868","type":"inject","z":"4bcded9c.a85e54","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":400,"wires":[["f11c41b0.10532"]]},{"id":"6baea01e.68d59","type":"html","z":"4bcded9c.a85e54","name":"","property":"payload","outproperty":"payload","tag":"p","ret":"html","as":"single","x":400,"y":400,"wires":[["5c65166c.751f28"]]},{"id":"a5d54fc5.027dc","type":"debug","z":"4bcded9c.a85e54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":500,"wires":[]},{"id":"5c65166c.751f28","type":"function","z":"4bcded9c.a85e54","name":"strip and clean","func":"var tokens = msg.payload[0].split(\":\");\nmsg.payload = tokens[1].trim();\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":400,"wires":[["a5d54fc5.027dc"]]},{"id":"dbfbe41e.f9bed8","type":"ui_switch","z":"38667d18.d7fd52","name":"","label":"laptop","group":"a228ba9c.1c8c38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":460,"wires":[["a10e34c2.35c4e8"]]},{"id":"a10e34c2.35c4e8","type":"function","z":"38667d18.d7fd52","name":"set ping on","func":"flow.set(\"ping-10.0.0.10\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":460,"wires":[["434e3d01.69f254"]]},{"id":"434e3d01.69f254","type":"debug","z":"38667d18.d7fd52","name":"roh-laptop Ping on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":720,"y":460,"wires":[]},{"id":"dda64f98.e972d","type":"switch","z":"38667d18.d7fd52","name":"","property":"ping-10.0.0.10","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":400,"wires":[[]]},{"id":"2b183138.39f0ee","type":"ui_switch","z":"38667d18.d7fd52","name":"","label":"haunted-house","group":"a228ba9c.1c8c38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":350,"y":540,"wires":[["7d72b8a2.d23858"]]},{"id":"7d72b8a2.d23858","type":"function","z":"38667d18.d7fd52","name":"set ping on","func":"flow.set(\"ping-10.0.0.12\", msg.payload);\nflow.set(\"ping-10.0.0.13\", msg.payload);\nflow.set(\"ping-10.0.0.14\", msg.payload);\nflow.set(\"ping-10.0.0.15\", msg.payload);\nflow.set(\"ping-10.0.0.16\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":540,"wires":[["2d2e2d0f.26c562"]]},{"id":"2d2e2d0f.26c562","type":"debug","z":"38667d18.d7fd52","name":"roh-laptop Ping on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":540,"wires":[]},{"id":"2c0730f6.a95d","type":"owntracks","z":"94cb800e.0d5b5","x":300,"y":180,"wires":[["8646745d.afe2e8","76669a4b.ea20e4","a6675852.504b28","46189fdd.dfa02","54444c1f.5c4364"]]},{"id":"a10b5d69.b61fa","type":"mqtt in","z":"94cb800e.0d5b5","name":"","topic":"owntracks/#","qos":"2","broker":"26e87c71.cb2844","x":140,"y":80,"wires":[["2c0730f6.a95d"]]},{"id":"db91313.0c71cd","type":"debug","z":"94cb800e.0d5b5","name":"Owntracks","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":120,"wires":[]},{"id":"28c76a32.198816","type":"debug","z":"ec2fb320.6738e","name":"Mqtt Broker","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":340,"y":60,"wires":[]},{"id":"8ccddec2.d9c6c","type":"mosca in","z":"ec2fb320.6738e","mqtt_port":1883,"mqtt_ws_port":8080,"name":"localhost","username":"","password":"","dburl":"","x":90,"y":80,"wires":[[]]},{"id":"6bf10001.47a21","type":"debug","z":"94cb800e.0d5b5","name":"Log file","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":200,"wires":[]},{"id":"3f371de0.39bfb2","type":"debug","z":"94cb800e.0d5b5","name":"Battery","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":360,"wires":[]},{"id":"8646745d.afe2e8","type":"file","z":"94cb800e.0d5b5","name":"Log File","filename":"/home/roh/owntracks/pos.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":550,"y":200,"wires":[["6bf10001.47a21"]]},{"id":"a241df2e.48d02","type":"inject","z":"94cb800e.0d5b5","name":"firebase payload","topic":"","payload":"{\"_type\":\"location\",\"tid\":\"rp\",\"acc\":23,\"batt\":96,\"conn\":\"w\",\"lat\":18.767771,\"lon\":98.9910875,\"tst\":1543821107,\"name\":\"rp\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["a6675852.504b28","46189fdd.dfa02","54444c1f.5c4364"]]},{"id":"76669a4b.ea20e4","type":"mongodb out","z":"94cb800e.0d5b5","mongodb":"65a67c.45087984","name":"Owntracks","collection":"owntracks","payonly":true,"upsert":false,"multi":false,"operation":"store","x":570,"y":240,"wires":[]},{"id":"4fdbfaf0.cc3fa4","type":"debug","z":"f9f2f75c.253f78","name":"Mongo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":40,"wires":[]},{"id":"d9085a3e.848c98","type":"mongodb in","z":"f9f2f75c.253f78","mongodb":"65a67c.45087984","name":"","collection":"owntracks","operation":"find","x":330,"y":40,"wires":[["4fdbfaf0.cc3fa4"]]},{"id":"cb3b4086.660ba","type":"inject","z":"f9f2f75c.253f78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["d9085a3e.848c98"]]},{"id":"a6675852.504b28","type":"change","z":"94cb800e.0d5b5","name":"Get Battery Level","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.batt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":320,"wires":[["3f371de0.39bfb2","20e093ab.9bc5bc"]]},{"id":"20e093ab.9bc5bc","type":"ui_gauge","z":"94cb800e.0d5b5","name":"Battery Level","group":"d65ba15c.9770f","order":0,"width":0,"height":0,"gtype":"gage","title":"Battery Level","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b50000","#e6e600","#09bc12"],"seg1":"","seg2":"","x":680,"y":320,"wires":[]},{"id":"7e6248e.aa838b8","type":"worldmap","z":"94cb800e.0d5b5","name":"rohMap","lat":"18.7678055","lon":"98.9910807","zoom":"7","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","path":"/track","x":560,"y":420,"wires":[]},{"id":"46189fdd.dfa02","type":"function","z":"94cb800e.0d5b5","name":"Plot Map","func":"msg.payload.name = \"Roh\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["7e6248e.aa838b8"]]},{"id":"54444c1f.5c4364","type":"worldmap-tracks","z":"94cb800e.0d5b5","depth":20,"name":"rohTracks","x":410,"y":480,"wires":[["7e6248e.aa838b8"]]},{"id":"7226b0ad.fbaae","type":"file in","z":"94cb800e.0d5b5","name":"read log","filename":"/home/roh/owntracks/pos.log","format":"utf8","chunk":false,"sendError":false,"x":260,"y":560,"wires":[["147c27e4.d483b8"]]},{"id":"3ea18131.9c241e","type":"inject","z":"94cb800e.0d5b5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":560,"wires":[["7226b0ad.fbaae"]]},{"id":"147c27e4.d483b8","type":"debug","z":"94cb800e.0d5b5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":560,"wires":[]},{"id":"c1fcca38.e3a008","type":"ping","z":"38667d18.d7fd52","name":"Haunted host - HR","host":"10.0.0.15","timer":"10","x":110,"y":100,"wires":[["4cb1baf0.540a24"]]},{"id":"a29120b8.630f1","type":"ping","z":"38667d18.d7fd52","name":"Haunted host - FM","host":"10.0.0.16","timer":"10","x":110,"y":60,"wires":[["4cb1baf0.540a24"]]},{"id":"973a99ae.297208","type":"mqtt in","z":"b7d747b9.8c7ed8","name":"","topic":"drl/#","qos":"2","broker":"26e87c71.cb2844","x":80,"y":100,"wires":[[]]},{"id":"253d2561.2bdcea","type":"debug","z":"b7d747b9.8c7ed8","name":"DRL Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":300,"y":100,"wires":[]},{"id":"1800983d.2bcaf8","type":"mqtt in","z":"b7d747b9.8c7ed8","name":"","topic":"drl/episode","qos":"2","broker":"26e87c71.cb2844","x":100,"y":200,"wires":[["8bfa591e.60efe8"]]},{"id":"8bfa591e.60efe8","type":"ui_numeric","z":"b7d747b9.8c7ed8","name":"","label":"Episode","group":"a8ab3ed9.7cd89","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":320,"y":200,"wires":[[]]},{"id":"d8e78fb3.564b3","type":"ui_gauge","z":"b7d747b9.8c7ed8","name":"","group":"a8ab3ed9.7cd89","order":0,"width":0,"height":0,"gtype":"gage","title":"Average Score","label":"units","format":"{{value}}","min":"-1","max":"20","colors":["#b50016","#e6e600","#17f306"],"seg1":"","seg2":"","x":300,"y":340,"wires":[]},{"id":"3ec4345a.38c2ac","type":"mqtt in","z":"b7d747b9.8c7ed8","name":"","topic":"drl/score","qos":"2","broker":"26e87c71.cb2844","x":100,"y":280,"wires":[["2d8d08c8.1d4c48"]]},{"id":"2d8d08c8.1d4c48","type":"ui_chart","z":"b7d747b9.8c7ed8","name":"","group":"a8ab3ed9.7cd89","order":0,"width":0,"height":0,"label":"Score","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"-5","ymax":"30","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":570,"y":260,"wires":[[],[]]},{"id":"c94f51aa.9bc5c","type":"mqtt in","z":"b7d747b9.8c7ed8","name":"","topic":"drl/done","qos":"2","broker":"26e87c71.cb2844","x":110,"y":400,"wires":[["5bad6e1.eef9d9"]]},{"id":"5bad6e1.eef9d9","type":"mqtt out","z":"b7d747b9.8c7ed8","name":"","topic":"telegram/out","qos":"","retain":"","broker":"aaf1602c.752fc","x":360,"y":400,"wires":[]},{"id":"50e6a482.a167bc","type":"mqtt in","z":"b7d747b9.8c7ed8","name":"","topic":"drl/average","qos":"2","broker":"26e87c71.cb2844","x":100,"y":340,"wires":[["d8e78fb3.564b3"]]},{"id":"7dc9db4e.c7bed4","type":"mqtt in","z":"b7d747b9.8c7ed8","name":"","topic":"drl/reset","qos":"2","broker":"26e87c71.cb2844","x":120,"y":240,"wires":[["c7206e19.0070f"]]},{"id":"c7206e19.0070f","type":"change","z":"b7d747b9.8c7ed8","name":"Reset Chart","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":240,"wires":[["2d8d08c8.1d4c48"]]},{"id":"1cfbf2e0.24d36d","type":"ui_switch","z":"38667d18.d7fd52","name":"","label":"TV Box","group":"a228ba9c.1c8c38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":340,"y":600,"wires":[["2c0f5d14.43ac32"]]},{"id":"2c0f5d14.43ac32","type":"function","z":"38667d18.d7fd52","name":"set ping on","func":"flow.set(\"ping-10.0.0.6\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":600,"wires":[["e88dc56c.eaa7c8"]]},{"id":"e88dc56c.eaa7c8","type":"debug","z":"38667d18.d7fd52","name":"tvbox Ping on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":600,"wires":[]},{"id":"ef6f6ffd.2696a","type":"switch","z":"e0a8bdd.f69eb4","name":"Message Type Splitter","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"photo","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":240,"wires":[["45385ed7.4066c"],["794bfd86.6201b4"],[]]},{"id":"794bfd86.6201b4","type":"link out","z":"e0a8bdd.f69eb4","name":"Telegram-photo","links":["2258641e.7d0e2c"],"x":660,"y":280,"wires":[]},{"id":"2258641e.7d0e2c","type":"link in","z":"e0a8bdd.f69eb4","name":"","links":["794bfd86.6201b4"],"x":80,"y":360,"wires":[["c7124980.a53188"]]},{"id":"c7124980.a53188","type":"change","z":"e0a8bdd.f69eb4","name":"Strip weblink","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weblink","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"telegram/photo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":360,"wires":[["1f1aee95.6ada71","9435fb87.782b58"]]},{"id":"1f1aee95.6ada71","type":"mqtt out","z":"e0a8bdd.f69eb4","name":"","topic":"pi/photo","qos":"","retain":"","broker":"aaf1602c.752fc","x":470,"y":380,"wires":[]},{"id":"9435fb87.782b58","type":"debug","z":"e0a8bdd.f69eb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":320,"wires":[]}]